<div class="jumbotron">
  <h1>Salon Booker</h1>
</div>

<h3>Are you a stylist or a client?</h3>
<a class="btn btn-info" href="/stylists">Stylist</a>
<a class="btn btn-info" href="/clients">Client</a>

<form action="/clear" method="post">
  <button type="submit" id="clear" class="btn btn-danger">Clear all</button>
</form>
