<div class="jumbotron">
  <h1>Salon Booker</h1>
</div>

<h3>Are you a stylist or a client?</h3>
<a class="btn btn-info" href="/stylists">Stylist</a>
<a class="btn btn-info" href="/clients">Client</a>
